.weather-app-wrap {
  padding-top: 20px;
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  padding: 20px;
  border: 2px solid #aeaec2;
  border-radius: 5px;
}
.owerview {
  padding-bottom: 20px;
}
h1 {
  padding-top: 0px;
  color: #55718d;
  font-weight: bold;
  font-size: 40px;
}
.image-cover {
  border-radius: 5px;
  box-shadow: 2px 2px 4px 3px #aeaec2;
  opacity: 90%;
}
body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 2;
  color: #193757;
}
h2 {
  font-size: 16px;
  line-height: 1.5;
  color: #3f4e6d;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  line-height: 1.5;
}
li:first-letter {
  text-transform: capitalize;
}
small {
  font-size: 10px;
}
.weather-temperature img {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1;
  vertical-align: middle;
}
.weather-temperature strong {
  color: #55718d;
  font-size: 60px;
  line-height: 1;
  vertical-align: middle;
  font-weight: 100;
}
.weather-temperature .units {
  font-size: 16px;
  position: relative;
  vertical-align: top;
}
form {
  padding-top: 20px;
}
button {
  background-color: #55718d;
  color: white;
  border: #193757;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px #aeaec2;
  margin-bottom: 10px;
  font-family: sans-serif;
  padding: 3px 20px;
}
.form-control {
  box-shadow: 1px 1px 2px 2px #c6c6d6;
}
